body{
	margin: 0 auto;
	background-image: url("../Média/logo1.jpeg");
	background-repeat: no-repeat;
	background-size: 100%  900px;
}

.container{
	width: 550px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
}

th{
	padding-left: 100px;

}

.error{
	font-style: italic;
	color: red;
	margin-bottom: 15px;
	font-weight: 300;
	text-align: center;
}

select{
	margin-top: 30px;
	height: 50px;
	width: 350px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input::before{
	content:"\f007";
	font-family: "FontAwesome";
	padding-left: 07px;
	padding-top: 40px;
	position: absolute;
	font-size: 35px;
	color: #2980b9; 
}

.form-input:nth-child(2)::before{
	content:"\f023";
}

.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}